.alinear {
    text-align: center;
    margin-top: 10px;
    margin-bottom: auto;
    font-weight: 500;
}

.colorBlue {
    color: white;
    background-color: #3f51b5;
    width: auto;
}

ul li {
    list-style: none;
}

.right{
    margin-left: auto;
}

.center{
    margin: auto;
}

table {
    width: 100%;
}

mat-form-field {
    width: 140%;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
    flex: 0 0 6%;
}

.fontW {
    font-weight: 500;
}

th{
    font-size: large;
    color: #3f51b5;
}

td{
    font-weight: 500;
}