<mat-card>

<h2 class="alinear">Listado de Categorias</h2>

<mat-card-header>
    <div class="center">
        <mat-form-field hintLabel="" appearance="fill">
            <mat-label>Buscar Categorias</mat-label>
            <input matInput #input>
        </mat-form-field>

    </div>

</mat-card-header>

<mat-card-header>
    <div class="right">
        <ul>
            <li>
                <button mat-raised-button class="colorBlue">Agregar</button>
            </li>
            
        </ul>
    </div>
</mat-card-header>

</mat-card>