.product-container{
    display: flex;
    flex-direction: column;
}

.product-container > *{
    width: 100%;
}
.input-file{
    display: none;
}

.subir{
    padding: 5px 16px;
    background-color: #3f51b5;
    color: aliceblue;
    border: 0px solid white;
}